<extend name="Common:edit"/>
<block name="form">
    <div class="main-div">
        <form method="post" action="{:U()}">
            <table cellspacing="1" cellpadding="3" width="100%">
                <tr>
                    <td class="label">品牌名称</td>
                    <td>
                        <input type="text" name="name" maxlength="60" value="{$name}" />
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">品牌网址</td>
                    <td>
                        <input type="text" name="url" maxlength="60" value="{$url}" />
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">品牌LOGO</td>
                    <td>
                        <input type="file" id="logo_uploader" name="logo_uploader"  />
                        <input type="hidden"  name="logo" class="logo" />
                        <div class="upload-img-box" style="display: none">
                            <div class="upload-pre-item">
                                <img src="">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">品牌描述</td>
                    <td>
                        <textarea  name="intro" cols="60" rows="4"  >{$intro}</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">排序</td>
                    <td>
                        <input type="text" name="sort" maxlength="40" size="15" value="{$sort|default=20}" />
                    </td>
                </tr>
                <tr>
                    <td class="label">是否显示</td>
                    <td>
                        <input type="radio" class="status" name="status" value="1"  /> 是
                        <input type="radio" class="status" name="status" value="0"  /> 否
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><br />
                        <input type="hidden" name="id" value="{$id}"/>
                        <input type="submit" class="button ajax-post" value=" 确定 " />
                        <input type="reset" class="button" value=" 重置 " />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</block>
<block name="js">
    <script type="text/javascript" src="__UPLOADIFY__/jquery.uploadify.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#logo_uploader").uploadify({
                fileTypeExts  : '*.gif; *.jpg; *.png',  //允许上传的文件后缀名
                formData      : {'dir' : 'php1009-brand'},  //附带上传的其他参数
                fileSizeLimit : '2MB',      //最大上传图片大小
                buttonText    : '上传图片',   //显示的文字
                height        : 30,
                swf           : '__UPLOADIFY__/uploadify.swf', //flash插件
                uploader      : "{:U('Upload/index')}",  //处理上传的方法
                width         : 120,
                'onUploadSuccess' : function(file, data, response) {  //上传成功后执行  data就是响应的上传地址
//                    alert(data);
//                    return;
                    $('.upload-img-box').show();
//                    $('.upload-img-box .upload-pre-item img').attr('src','/Uploads/'+data);
                    $('.upload-img-box .upload-pre-item img').attr('src','__BRAND__'+data);
                    $('.logo').val(data); //将上传后的路径放到隐藏域中提交给服务器
                },
                'onUploadError' : function(file, errorCode, errorMsg, errorString) { //上传失败后执行
                    alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
                }
            });
        });
    </script>
</block>